$braille-in-the-station: url('../images/braille-in-the-station.jpg');
$chairs-in-the-platform: url('../images/chairs-in-the-platformjpg');
$mountains-with-a-girl: url('../images/mountains-with-a-girljpg');
$old-stores-front: url('../images/old-stores-front.jpg');
$old-stores-second-floor: url('../images/old-stores-second-floor.jpg');
$old-stores-signboard: url('../images/old-stores-signboard.jpg');
$public-telephone: url('../images/public-telephone.jpg');
$station: url('../images/station.jpg');
$takoyaki-stores-front: url('../images/takoyaki-stores-front.jpg');
$timetable: url('../images/timetable.jpg');
$train-in-the-station: url('../images/train-in-the-station.jpg');

$blog-sample: url('../images/blog-sample.jpg');
$blog-sample-2: url('../images/blog-sample-2.png');

$logo-white: url('../images/logo.png');
$logo-dark: url('../images/logo-dark.png');
