$main-font: Mulish,sans-serif;
$sub-font: Baskervville,serif;
$header-font: Mulish,sans-serif;

//-----------------------------------
// index.html
//-----------------------------------
// Used on the index page only
// On the text right below the main logo
$catch-copy-font-size-xs: 5.5vw;
$catch-copy-font-size-sm: 24px;

$button-font-size-xs: 4vw;
$button-font-size-sm: 16px;

//-----------------------------------
// Navigation screen
//-----------------------------------
$popular-article-container-title-font-size-xs: 6vw;
$popular-article-container-title-font-size-sm: 28px;

$popular-article-container-title-icon-size-xs: 3vw;
$popular-article-container-title-icon-size-sm: 14px;

$popular-article-title-font-size-xs: 6.5vw;
$popular-article-title-font-size-sm: 32px;

$popular-article-metadata-font-size-xs: 3vw;
$popular-article-metadata-font-size-sm: 13px;



//-----------------------------------
// All pages
//-----------------------------------
// Used on each page exept the index page
// the title of the page
$header-font-size-xs: 7vw;
$header-font-size-sm: 33px;

//-----------------------------------
// All pages
//-----------------------------------
// Used for the general text on the screen
$s-font-size-xs: 5vw;
$s-font-size-sm: 21px;
$s-font-line-height-xs: 1.8;
$s-font-line-height-sm: 2;

//-----------------------------------
// blog.html
//-----------------------------------
$blog-nav-header-font-size-xs: 5vw;
$blog-nav-header-font-size-sm: 24px;

$blog-nav-link-font-size-xs: 3vw;
$blog-nav-link-font-size-sm: 16px;
$blog-nav-link-font-letter-spacing-xs: calc(4.5vw * 0.2);

$unit-meta-font-size-xs: 3.5vw;
$unit-meta-font-size-sm: 12px;
$unit-meta-font-letter-spacing-sm: 0.5px;

$unit-headline-font-size-xs: 7.5vw;
$unit-headline-font-size-sm: 40px;

$unit-categories-font-size-xs: 3.5vw;
$unit-categories-font-size-sm: 12px;

//-----------------------------------
// single-article-page.html
//-----------------------------------
$article-header-font-size-xs: 7vw;
$article-header-font-size-sm: 48px;
$article-header-font-letter-spacing-xs: calc(10vw * 0.05);

$read-next-title-font-size-xs: 6vw;
$read-next-title-font-size-sm: 28px;

$post-detail-title-font-size-xs: 5.5vw;
$post-detail-title-font-size-sm: 26px;

$unit-meta-font-size-xs: 3.5vw;
$unit-meta-font-size-sm: 12px;

$sharing-button-font-size-xs: 4.5vw;
$sharing-button-font-size-sm: 16px;

$article-h2-font-size-xs: 8vw;
$article-h2-font-size-sm: 42px;

$article-h3-font-size-xs: 6vw;
$article-h3-font-size-sm: 24px;