@import "../../../sass-partial/screen-size-mixin";
@import "../../../sass-partial/colours";
@import "../../../sass-partial/font";

#sidebar {
    width: 100%;
    display: flex;
   justify-content: center;


    .blog-nav {
        text-align: center;
        width: 100%;
        max-width: 864px;

        .blog-nav-title {
            font-size: $blog-nav-header-font-size-xs;
            text-transform: uppercase;
            margin-bottom: 20px;

            @include sm {
                font-size: $blog-nav-header-font-size-sm;
            }
        }

        .blog-nav-list {
            z-index: -2;
            height: fit-content;
            list-style: none;
            padding-bottom: 15px;
            transition: all 0.3s;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @include sm {
                padding-bottom: 50px;
            }

            li {
                transition: all 0.3s;
                border: 1px solid rgba($main-font-colour, 0.1);
                border-radius: 3px;
                margin: 5px;

                a {
                    text-decoration: none;

                    display: block;
                    padding: 10px;
                    font-size: $blog-nav-link-font-size-xs;
                    font-weight: 400;
                    transition: all 0.2s ease;

                    @include sm {
                        font-size: $blog-nav-link-font-size-sm;
                    }
                }
            }
        }
    }
}