@import "../../sass-partial/screen-size-mixin";

.inner-screen-container {
    .article-contents {
        .face {
            max-width: 50%;

            @include sm {
                max-width: 230px;
            }
        }
        .right {
            display: block;
            margin: 0 0 10px 0;
            @include sm {
                float: right !important;
                margin-left: 20px;
            }
        }
    }
}