@import "../../../sass-partial/screen-size-mixin";
@import "../../../sass-partial/colours";
@import "../../../sass-partial/font";

.popular-articles-container {
    width: 90vw;

    @include lg {
        width: 40vw;
    }

    .title-container {
        margin-bottom: 20px;

        .triangle-icon {
            height: $popular-article-container-title-icon-size-xs;
            width: $popular-article-container-title-icon-size-xs;
            transform: rotate(180deg);
            padding-left: $popular-article-container-title-icon-size-xs;

            @include sm {
                height: $popular-article-container-title-icon-size-sm;
                width: $popular-article-container-title-icon-size-sm;
                padding-left: $popular-article-container-title-icon-size-sm;
            }
        }
        .title {
            //font-family: $sub-font;
            font-size: $popular-article-container-title-font-size-xs;
            text-transform: uppercase;
            font-weight: 600;
            font-style: italic;
            display: inline-block;

            @include sm {
                font-size: $popular-article-container-title-font-size-sm;
            }
        }
    }
    .popular-articles-list {
        .popular-article {
            display: flex;
            width: 100%;
            padding: 25px 0;
            border-bottom: 1px solid rgba($main-font-colour, 0.5);

            .thumbnail {
                background-image: url(/assets/images/braille-in-the-station.JPG);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                height: 60px;
                width: 60px;
                margin-top: 5px;
                border-radius: 6px;

                @include sm {
                    height: 90px;
                    width: 90px;
                }
            }
            .article-datail-container {
                position: relative;
                flex-basis: calc(100% - 60px);
                padding-left: 10px;

                @include sm {
                    flex-basis: calc(100% - 90px);
                }

                .article-title {
                    font-family: $sub-font;
                    font-size: $popular-article-title-font-size-xs;
                    font-weight: 100;
                    line-height: 1.2;
                    margin-bottom: 10px;
                    transition: all .3s ease;

                    @include sm {
                        font-size: $popular-article-title-font-size-sm;
                        margin-bottom: 16px;
                    }

                    &:hover {
                        color: $pink-colour;
                    }
                }
                .topics {
                    margin-bottom: 9vw;

                    @include sm {
                        margin-bottom: 42px;
                    }

                    a {
                        color: rgba($brown-colour, 0.6);
                        font-size: $popular-article-metadata-font-size-xs;
                        text-transform: uppercase;
                        transition: all .3s ease;

                        @include sm {
                            font-size: $popular-article-metadata-font-size-sm;
                        }

                        &:hover {
                            color: rgba($pink-colour, 0.7);
                        }
                    }
                }
                .dates {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;

                    font-size: $popular-article-metadata-font-size-xs;
                    color: rgba($main-font-colour, 0.6);

                    @include sm {
                        font-size: $popular-article-metadata-font-size-sm;
                    }

                    .posted-date,
                    .updated-date {
                        padding-left: $popular-article-metadata-font-size-xs;

                        @include sm {
                            padding-left: $popular-article-metadata-font-size-sm;
                        }

                        .icon {
                            height: $popular-article-metadata-font-size-xs;
                            width: $popular-article-metadata-font-size-xs;
                            display: inline-block;
                            vertical-align: middle;

                            @include sm {
                                height: $popular-article-metadata-font-size-sm;
                                width: $popular-article-metadata-font-size-sm;
                            }
                        }
                    }
                }
            }
        }
    }

}